{% extends 'main/base.html' %}

{% block content %}

{% include 'main/nav.html' %}
<div class="container">
    <h1 class="center-align">Skills</h1>
    <p>This page lists the skills I am proficient in.</p>
      <ul class="collection">
            <li class="collection-item">Linux</li>
            <li class="collection-item">Data Science</li>
            <li class="collection-item">Machine Learning</li>
            <li class="collection-item">Voip</li>
            <li class="collection-item">Python</li>
            <li class="collection-item">Linux</li>
            <li class="collection-item">Django</li>
            <li class="collection-item">Voip</li>
            <li class="collection-item">CCTv Installation</li>
      </ul>
</div>
{% endblock %}